@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazir-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazir-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazir.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazir-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazir-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f7f7f8;
  color: #1a1a1a;
}